.creditCard{
    height: 10rem;
    width: 17rem;
    background-color: blueviolet;
    border-radius: 5px;
    border: 2px solid black;
}
.creditCard p{
    color: rgb(207, 207, 207);
    font-size: 20px;
    margin-left: 20px;
}
.creditCard span{
    margin-right: 10px;
}

.chip{
    height: 25px;
    width: 50px;
    background-color: rgb(240, 171, 53);
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom:-29px;
    border-radius: 5px;
}

.descricao p{
    margin-top: -40px;
}

#formaPagamento{
    margin-top: -40px;
}

img{
    width: 28rem;
}